.login-background {
    -fx-background-image: url("/images/loginBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.register-background {
    -fx-background-image: url("/images/registerBackgroung.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.card {
    -fx-background-color: white;
    -fx-background-radius: 14;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 5);
}

.title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 11;
    -fx-text-fill: #6b7280;
}

.field-label {
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

.input {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: #f1f5f9;
}

.forgot {
    -fx-font-size: 10;
}

.login-btn {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}
.primary-btn {
    -fx-background-color: linear-gradient(to right, #fb7185, #fb923c);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
.small-text {
    -fx-font-size: 10;
}

.create-link {
    -fx-font-size: 10;
    -fx-text-fill: #ef4444;
}